<div>
    <div>
        <img src="assets/banner.jpg" class="banner">
    </div>
    <div class="col font">
        <h1>La Elegancia de la Magia</h1>
    </div>
    
    <div class="message">
        <p>
            El mago Sinhue nace artisticamente en Agosto 15 de 1984 En un Show presentado en el Teatro Guadalajara del Seguro
            Social en Guadalajara, en un evento realizado por el CLUB CABALLEROS DE LA MAGIA al cual perteneció hasta el año
            1991, año en que desaparece el Club.
        </p>
        <div class="col img">
            
            <img src="assets/img/mgsinhue1.jpg" class="img-presentacion">
        </div>
    </div>
    <div class="message">
        <p>
            A lo largo de los años se ha rodeado y compartido sus experiencia mágicas con grandes de la Magia como Fantasio,
            Mago Frank, Gozner, Martin, Arnold, Richard, Gran Bellini (q.e.p.d.), Dino, Albert, Memo Pereyra, Paulino,
            Gustavo, Richard, Miguel y muchos mas.
            En carrera de casi 30 años, ha trabajado en Hoteles, Restaurantes, Fiestas Infantiles, Shows de Adultos,
            Promoción de Empresas, participado en convenciones, talleres y conferencias.
        </p>
        <div class="col img">
    
          <img src="assets/img/mgsinhue21.jpg" class="img-presentacion">
        </div>
    </div>
</div>
    