<div>
    <div class="container">
        <div class="font">
            <h1> La Magia de la Ayuda Misionera </h1>
        </div>
        <div class="img-container">
            <img src="assets/img/mgsinhue30.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <p>
            Durante muchos años había pensado como llevar la Magia a aquellas personas que difícilmente podrían tener la
          oportunidad de ver este tipo de diversión y entretenimiento. Tras varios intentos, tuve la suerte de visitar
          comunidades de la Isla de Cuba.
        </p>
          <hr>
        <p>
            Mi primera aventura en este país de ideología socialista fue en Julio de 2005. Fui invitado por el Padre
          Daniel Panduro Fregoso M.G. a conocer las necesidades de la palabra de Dios, de alimento, de cariño, de
          atención y de amor en la Isla.
        </p>
        <hr>
        <p>
            Se aprovechó que El Cardenal Monseñor Jaime Lucas Ortega Y Alamino había planeado una jornada misionera de
          Jóvenes para anunciar el mensaje de Dios en comunidades de la Provincia de La Habana. Un grupo de más de 40
          jóvenes cuyas edades iban desde los 14 hasta los 30 años. Se distribuían de acuerdo al tamaño de la comunidad.
          Generalmente eran grupos de 5 o 6 jóvenes entusiastas. Con ese buen humor y con el ánimo llevar lo que habían
          aprendido en un curso de preparación previa, se llevo a cabo la misa de envío.
        </p>
        <hr>
        <p>
            Una vez acomodados en las 2 casas parroquiales (Nueva Paz y San Nicolás) se iniciaron las actividades. Se
          invitaba a niños, jóvenes, adultos y ancianos a participar en diferentes actividades y dinámicas que permitían
          conocer a los miembros de la comunidad e integrarlos en las actividades litúrgicas. Era ahí donde comenzaba mi
          “misión” . El acercar a los jóvenes y niños a estas actividades. Se anunciaban eventos donde un “mago” de
          México se iba a presentar en las comunidades.
        </p>
        <hr>
        <div class="img-container">
          <img src="assets/img/mgsinhue51.jpg" alt="">
        </div>
        <p>
            También los jóvenes misioneros esperaban su rato de esparcimiento por la noche. Esperaban con ansia después
            de la comida (que generalmente es a las 6 de la tarde) que el “mago” compartiera con ellos un momento de
            distracción.
        </p>
        <hr>
        <p>
            Así fue durante 7 días de misión mientras que por la mañana nos correspondía llevar alimento para los
            desayunos a las comunidades donde se encontraban los jóvenes, a medio día ver las necesidades de los grupos
            para las dinámicas y actividades y preparar los shows que esperaban con ansiedad.
        </p>
        <hr>
        <p>
            Fueron muchos trabajos y complicaciones desde el momento en que se llega a la Isla. Se supone que el turista
            promedio es bien tratado en Cuba, aun así; se sufre gracias al sistema. Llegar a un país extraño sin
            equipaje porque fue olvidado en México. Hacer las gestiones para recuperarlo, etc. Una mezcla de
            sentimientos encontrados y momentos de valoración y reflexión de lo que se deja en México: La familia, las
            comodidades, alimentos, medios de comunicación y de transporte (automóvil, teléfono, internet, celular) que
            son tan comunes en nuestra vida se dejan a un lado para adaptarse a una realidad en la que no se puede
            contar con estos medios.
        </p>
        <hr>
        <p>
            El conseguir artículos tan sencillos como un periódico, cinta adhesiva, resistol, cuerda era toda una
            aventura en Cuba. Por este motivo, todo el material que iba a ser usado en las presentaciones tenía que ser
            llevado desde esta tierra o bien improvisar con lo que por desgracia no nos permitían transportar en el
            avión. Esta fue una oportunidad de anunciar la buena nueva mediante la mezcla de algunos efectos y juegos de
            magia y citas bíblicas. Las historias adecuadas al contexto, con las dificultades que el idioma (a pesar de
            ser mi mismo idioma natal) con sus regionalismos me provocó algunas malas experiencias, pero fueron
            superadas.
        </p>
        <hr>
        <p>
            Aun así, ha valido la pena el conocer y compartir con los niños, jóvenes y adultos de estas comunidades un
            momento “mágico” donde precisamente este bello arte es el medio de transporte para llevar el mensaje de
            Jesús y cumplir con aquel mandato de:”Vayan por todo el mundo y prediquen el Evangelio” (Marcos 16,15).
        </p>
        <hr>
        <div class="img-container">
          <img src="assets/img/mgsinhue51.jpg" alt="">
        </div>

        <p>
            Después de este viaje, ha habido otros 5 más en los que he tenido la oportunidad de conocer sobre la
            cultura, ideología y costumbres de esta alegre población del Caribe. Cada viaje ha sido diferente, único.
            Ese deber que como Cristianos tenemos es precisamente el de ser discípulos y misioneros se puede realizar
            desde nuestro trabajo, escuela o casa, con nuestra oración y sobre todo fomentando en nuestros hogares las
            vocaciones religiosas, misioneras.
        </p>
        <hr>

        <p>
           Doy gracias a Dios el que gracias a este don de divertir que me ha dado me permita compartir con aquellos que
           quizá en toda su vida no tendrán la oportunidad de ver algo similar.
        </p>
        <hr>
        <p>
            Mi labor en apoyo de las misiones y en particular a Misioneros de Guadalupe no es solo para las tierras de
            misión, además nuestros sacerdotes necesitan ese momento de esparcimiento y convivencia, por lo que también
            a ellos los debemos atender.
        </p>
        <hr>
        <p>
            En fin el trabajo de un Mago, no es solo para los niños. Va más allá de distraer o asombrar al público, es
            poner al servicio de los demás un don. Es el poder compartir, convivir y llevar un mensaje de paz, amor de
            Jesús a los pueblos donde no se le conoce (o se comienza a conocer).
        </p>
        <hr>
        <p>
            Sirva este articulo para aquellos que tienen una habilidad, un don lo pongan al servicio de Jesús.
        </p>
    </div>
</div>
