<footer class="footer-distributed bg-dark">


  <div class="footer-left">

    <p class="footer-links">
      <a routerLink="home">Inicio</a>
      ·
      <a routerLink="articulo">Articulo</a>
      ·
      <a routerLink="galeria">Galeria</a>
      ·
      <a routerLink="acerca">Acerca</a>
      ·
      <a routerLink = "contacto">Contacto</a>
    </p>

    <p class="footer-company-name">Mago Sinhue &copy; {{year}} </p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fas fa-mobile-alt"></i>
      <p>333 115 2622</p>
    </div>

    <div>
      <i class="fas fa-envelope"></i>
      <p><a href="mailto:mgsinhue@yahoo.com">mgsinhue@yahoo.com</a></p>
    </div>

  </div>

  <div class="footer-right">

  
    <div class="footer-icons">

      <a href="#">
      <i class="fab fa-facebook-square icon icon-facebook"></i> </a>
      <a href="#">
        <i class="fab fa-twitter-square icon icon-twitter"></i>

      </a>
      <a href="#"> 
        <i class="fab fa-instagram icon icon-instagram"></i>
      </a>
      <a href="http://www.youtube.com/mgsinhue">
        <i class="fab fa-youtube-square icon icon-instagram"></i>
      </a>

    </div>

  </div>

</footer>

